%font-primary {
    font-family: 'Inter', sans-serif;
}
%cursor {
    cursor: pointer;
}
%letter-spacing {
    letter-spacing: 0.2rem;
}
%transition {
    transition: transform .2s;
}
%transition-btn {
    transition: all .4s ease-in;
}