.item {
    outline: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 25%;
    background: $color-item;
    color: $color-number;
    @include font(500, 3.2rem);
    @extend %cursor;
    @extend %transition;
    border-radius: 10px;
    border: 1px solid  $color-background-wrapper;
}
.item__value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84%;
    height: 84%;
    margin: 8%;
    border: 2px solid $color-number;
    border-radius: 50%;
}